/*==================== Fonts ====================*/
@font-face {
    font-family: DMSans-Regular;
    src: url("fonts/DMSans_18pt-Regular.ttf");
}



/*==================== VARIABLES CSS ====================*/
:root {

    /*========== Font and typography ==========*/
    --navbar-font: 14px;
    --header-heading-font: 56px;
    --header-subheading-font: 40px;
    --header-paragraph-font: 24px;
    --section-title-font: 48px;
    --section-subtitle-font: 18px;
    --paragraph-font: 16.8px;
    --large-heading-font: 28px;
    --big-card-heading: 62px;




    /*========== Colors ==========*/
    --primary-color: #5C6A5D;
    --primary-dark-color: #39433A;
    --sub-title-color: #9795B5;
    --gold-color: #BF8C2C;
    --white-color: #fff;
    --brown-color: #9d8f8a;
    --gre-blue-color: #EEF2F4;
    --footer-color: #5F8863;


}



/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DMSans-Regular;
}




/*=============== REUSABLE CSS CLASSES ===============*/

.navbar {
    padding: .5rem 6rem;
}

.hero {
    padding: 9rem 6rem;
}

.section__head {
    padding: 5rem 6rem 0;
}

.section__data {
    padding: 3rem 6rem 5rem;
}

.section__title {
    color: var(--primary-color);
    font-size: var(--section-title-font);
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.section_subtitle {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: var(--section-subtitle-font);
    color: var(--sub-title-color);
    /* line-height: 30px; */
}


.grey {
    background: var(--gre-blue-color);
}

.footer {
    background: var(--primary-dark-color);
    padding: 0 6rem;
}

.footer__upper {
    padding: 3rem 0 2rem;
}

.footer__bottom {
    padding: 1rem 0;
}


/* ---------- Navbar ---------- */
.navbar {
    background-color: var(--primary-color);
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-size: var(--navbar-font);
    color: var(--white-color) !important;
    position: relative;
    overflow: hidden;
    text-wrap: nowrap;
}

/* Apply the ::after only to .nav-link elements that do not have the 'no__hover' class */
.nav-link:not(.no__hover)::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: var(--white-color);
    transition: all 0.3s ease-in-out;
}

/* Apply the active and hover states to the correct .nav-link elements */
.nav-link.active:not(.no__hover)::after,
.nav-link:hover:not(.no__hover)::after {
    right: 0;
}

.navbar__button {
    background: var(--white-color) !important;
    color: var(--primary-color) !important;
    border-radius: 500px;
    font-weight: 500;
    font-size: var(--navbar-font);
}



/* ----- Navbar Toggler ----- */
.custom-toggler.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ----- Fixed Navbar ----- */

.fixed__top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}



/* ----- Footer ----- */
.footer__icons_wrapper {
    display: flex;
    align-items: center;
    color: var(--white-color);
    justify-content: space-evenly;
}

.footer__links_wrapper {
    display: flex;
    align-items: center;
    color: var(--white-color);
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.footer__link,
.footer__icon {
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--paragraph-font);
}

.footer__line {
    height: 1px;
    background: var(--white-color);
    border: 1px solid var(--white-color);
    opacity: 0.8;
}

.footer_bottom_text {
    text-align: center;
    color: var(--white-color);
}













.footer {
    background: var(--primary-dark-color);
    padding: 0 2rem;
}

.footer__upper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    padding: 3rem 0 2rem;
}

.footer__logo {
    justify-self: center;
}

.footer__links_wrapper,
.footer__icons_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer__link,
.footer__icon {
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--paragraph-font);
}

.footer__line {
    height: 1px;
    background: var(--white-color);
    border: none;
    opacity: 0.8;
}

.footer_bottom_text {
    text-align: center;
    color: var(--white-color);
}

@media (min-width: 768px) {
    .footer__upper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        align-items: center;
    }

    .footer__logo {
        justify-self: start;
    }

    .footer__icons_wrapper {
        justify-self: end;
    }
}

@media (min-width: 992px) {
    .footer {
        padding: 0 6rem;
    }
}










/* ========== Home ========== */

/* ----- Header ----- */

.hero__section {
    position: relative;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
}

.hero__section::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.header__data {
    width: 80%;
    position: relative;
    z-index: 1;
    transform: translateY(-10%);
}

.header__data .sub__heading {
    font-size: var(--header-subheading-font);
    font-weight: 700;
    color: var(--white-color);
}

.header__data .heading {
    font-size: var(--header-heading-font);
    font-weight: 700;
    color: var(--white-color);
}

.header__data .paragraph {
    font-size: var(--header-paragraph-font);
    color: #DDD2C0;
}

.header__data .button__wrapper {
    display: flex;
    align-items: center;
}

.header_btn {
    font-size: var(--section-subtitle-font);
    border-radius: 500px;
    padding: 1rem 2rem;
    text-wrap: nowrap;
}

.start_btn {
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.sales_btn {
    background: var(--white-color) !important;
    color: var(--primary-color) !important;
}




/* ----- Projects ----- */

.project_card {
    height: 365px;
    /* width: 263px; */
    width: 95%;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
}

.project_card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, transparent 60%, #000000);
    top: 0;
    left: 0;
    z-index: 1;
}

.project_card .project__card_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.project__card_data {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.project_card .heading {
    color: var(--white-color);
    font-size: var(--large-heading-font);
    font-weight: 600;
    line-height: 40%;
}

.project_card .sub_heading {
    color: var(--white-color);
    font-size: var(--paragraph-font);
    font-weight: 500;
    line-height: 60%;
    text-align: right;
}


/* ----- Number Impact ----- */

.number__card {
    height: 100%;
    background: var(--white-color);
    border-radius: 15px;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.number__card_data {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.number__card_big {
    padding: 3rem;
}

.number__card img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}


.number__card svg {
    height: 100px;
    fill: var(--primary-dark-color);
    transition: all 0.3s ease-in-out;
}

.number__card_big svg {
    height: 170px;
}

.number__card_data {
    width: 100%;
    transition: all 0.3s ease-in-out;
}


.number__card .number_card_text {
    font-size: var(--large-heading-font);
    font-weight: 700;
    line-height: 95%;
    text-align: left;
}

.number__card_big .number_card_text {
    font-size: var(--big-card-heading);
    font-weight: 700;
    line-height: 95%;
}


.number__card:hover svg {
    fill: var(--white-color);
}

.number__card:hover .number__card_data {
    color: var(--white-color);
}

.number__card:hover img {
    opacity: 1;
    filter: blur(1.5px);
    transition: all 0.3s ease-in-out;
}






/* ----- Testimonial ----- */
.testimonial__cards_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card__wrapper {
    padding: 1rem 0.5rem;
    height: 100%;
    display: flex;
}

.testimonial__card {
    border-radius: 15px;
    /* width: 365px; */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D4D2E3;
    overflow: hidden;
    box-shadow: 0px 3.75px 18.77px 0px #00000040;
}

.testimonial__card .testimonial__img_wrapper {
    height: 320px;
    overflow: hidden;
    position: relative;
}

.testimonial__img_wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial__data {
    padding: 1.5rem 2rem;
    flex-grow: 1;
}

.testimonial__text {
    font-size: var(--paragraph-font);
    color: var(--primary-color);
    margin-bottom: 3.5rem;
}

.testimonial__user_data {
    line-height: 90%;
}

.testimonial__user_data .name {
    font-weight: 700;
    color: var(--primary-color);
    line-height: 0;
}

.testimonial__user_data .role {
    color: var(--primary-dark-color);
}



/* ----- Goals ----- */
.goal__swiper_wrapper {
    display: flex;
    margin-top: -2rem;
    /*============== Must Change it when required ===============*/
}

.goal__card {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 3.99px 19.93px 0px #00000040;
    scale: 0.8;
    border-radius: 25px;
    overflow: hidden;

}

.goal__card_img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    background: #BF8C2C;
    padding: 4rem 0;
}

.goal__card_img {
    width: 70%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.goal__card_data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background: var(--white-color);
    padding: 4rem 6rem;
}

.goal__title_wrapper {
    display: flex;
    color: var(--gold-color);
    align-items: center;
}

.goal__number {
    font-size: var(--big-card-heading);
    font-weight: 700;
}

.goal__title {
    font-size: var(--large-heading-font);
    font-weight: 700;
    padding: 0rem 1rem;
}

.goal__description_wrapper {
    margin-top: 1rem;
}

.goal_description {
    line-height: 29px;
    font-size: var(--section-subtitle-font);
}



.goal__swiper_btn-wrapper {
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 500px;
    border: 1px solid #D4D2E3;
    background: var(--primary-dark-color);
    font-size: 20px;
    cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--white-color);
    font-size: 25px;
    font-family: 'remixicon';
    transform: translate(0%, 0%);
}

.swiper-button-next::after {
    content: '\EA6C';
}

.swiper-button-prev::after {
    content: '\EA60';
}




/* ----- Partner Section ----- */
.partners__row {
    display: flex;
    align-items: center;
    align-items: center;
}

.partner__img_wrapper {
    padding: 1rem;
}

.partner__logo {
    /* max-height: 100px; */
    /* height: 100%; */
}


















/* ========== Media Queries ========== */


/* Extra large devices (up to 1200px) */
@media (max-width: 1200px) {

    :root {

        /*========== Font and typography ==========*/
        --navbar-font: 14px;
        --header-heading-font: 56px;
        --header-subheading-font: 40px;
        --header-paragraph-font: 24px;
        --section-title-font: 48px;
        --section-subtitle-font: 18px;
        --paragraph-font: 16.8px;
        --large-heading-font: 28px;
        --big-card-heading: 62px;

    }



    .navbar {
        padding: 1rem 5rem;
    }

}



/* Large devices (up to 992px) */
@media (max-width: 992px) {

    .navbar {
        padding: 1rem 1rem;
    }

    .navbar-nav {
        gap: 0px;
    }
}



/* Medium devices (up to 768px) */
@media (max-width: 768px) {

    .navbar {
        padding: 1rem 2rem;
    }

    /* ----- Open Navbar Menu ----- */
    .navbar-collapse {
        width: min-content !important;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--primary-color);
        /* Ensure the background color matches the navbar */
        padding: .5rem 1.5rem 1rem;
    }

    .navbar-nav {
        align-items: start;
        gap: 10px;
    }

}

/* Small devices (up to 576px) */
@media (max-width: 576px) {

    :root {

        /*========== Font and typography ==========*/
        --navbar-font: 14px;
        --header-heading-font: 36px;
        --header-subheading-font: 24px;
        --header-paragraph-font: 20px;
        --section-title-font: 42px;
        --section-subtitle-font: 20px;
        --paragraph-font: 14.5px;
        --large-heading-font: 28px;
        --big-card-heading: 62px;

    }

    /*=============== REUSABLE CSS CLASSES ===============*/

    .navbar {
        padding: .8rem 1rem;
    }

    .hero {
        padding: 4rem 1.5rem;
    }

    .section__head {
        padding: 3rem 2rem 0;
    }

    .section__data {
        padding: 2rem 2rem 3rem;
    }

    .slide__section_data {
        padding: 2rem 0 3rem !important;
    }

    .section__title {
        text-align: left;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .section_subtitle {
        width: 100%;
        text-align: left;
    }


    /* ---- Header ----- */
    .header__data {
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 1;
        transform: translateY(-10%);
    }

    .header__data .heading {
        line-height: 42px;
        font-weight: 550;
        margin-bottom: 2rem;
    }

    .header__data .sub__heading {
        font-weight: 550;
        line-height: 66.2px;
    }

    .header__data .button__wrapper {
        margin-top: 2rem;
        justify-content: center;
    }

    .header_btn {
        font-size: var(--section-subtitle-font);
        padding: .8rem 1rem;
    }

    /* ----- Number impact ----- */

    .number__card_wrapper_flex {
        display: flex !important;
        align-items: center;
        overflow: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .number__card_wrapper_flex::-webkit-scrollbar {
        display: none;

    }

    .second_number__card_wrapper_flex {
        display: flex;
        align-items: center;
    }

    .number__card {
        /* margin: 2rem; */
        transform: scale(0.9);
    }

    .number__card_big,
    .number__card {
        padding: 3rem;
    }

    .number__card_big svg,
    .number__card svg {
        height: 100px;
        margin-bottom: 1rem;
    }

    .number__card_big .number_card_text,
    .number__card .number_card_text {
        font-size: var(--large-heading-font);
        text-align: center;
    }


    /* ---- Testimonial ----- */
    .testimonial__cards_wrapper{
        flex-wrap: nowrap;
    }
    .testimonial__card .testimonial__img_wrapper {
        height: 250px;
    }
    .testimonial__data {
        padding: 1rem 1.3rem;
    }
    .testimonial__text {
        margin-bottom: 2rem;
    }


    /* ---- Goal Section----- */
    .goal__card {
        transform: translateX(-4%) !important;
    }

    .goal__card_data {
        padding: 3rem 2rem;
    }

    .goal__number {
        font-size: 100px;
        font-weight: 700;
    }

    .goal__title {
        margin-left: 4rem;
    }

    .goal__description_wrapper {
        margin-top: 0;
    }

    .goal__swiper_btn-wrapper {
        margin-top: 0rem;
    }


    /* ----- Partner ----- */
    .partner__img_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }



}

/* Extra small devices (up to 425px) */
@media (max-width: 425px) {}












/* @media screen and (max-width: 768px) {

    .navbar {
        padding: .5rem 1rem;
    }

    .navbar-collapse {
        width: min-content !important;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--primary);
        padding: .5rem 1.5rem 1rem;
    }

    .navbar-nav {
        align-items: start;
        gap: 10px;
    }




} */